/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14-mar-2017, 16:55:57
    Author     : cristina
*/

.encabezado{
    background-image: url('../images/header.png');
    min-height: 200px;
    border-radius: 15px 15px 0px 0px ; 
}
.articulo{
    line-height: 16pt;
    text-align: justify;
}

.contenido{	
    background-color: #fff;
    border-radius: 15px; 

}

body{
    font-family:Arial,Helvetica,sans-serif;
    color:#4c4c4c;
    background:#909090 !important;
}

.navbar{
    border-radius: 0px 0px 15px 15px; 
}

.footer{
    background:url(../images/footer-tail.png) center top repeat;
    border-radius: 15px 15px 0px 0px; 
}


.copyright{
    
    background-color: #000;
    color: #fff;
}

.lletraViewActor{
    font-size: 50px !important;
    font-weight: 200 !important;
}
.fa-lg{
    color:black;
}

form .error {
    color: #ff0000;
}

/* 
    index
*/

#carrusel{float:center; width:auto; overflow:hidden; height:200px; position:relative; margin-top:20px;}
#carrusel .izquierda_flecha{position:absolute; left:10px; z-index:1; top:50%; margin-top:-9px; font-size: 50px;}
#carrusel .derecha_flecha{position:absolute; right:10px; z-index:1; top:50%; margin-top:-9px; font-size: 50px;}
.carrusel{
/*    width:4000px;
    left:0px; */
    height: 200px;
    position:absolute; z-index:0}
.carrusel>div{
/*    
    
    */
    height: 200px;
    width: 250px;
    float: left;
    text-align:center;
    margin-right: 5px;
}
.carrusel .img_carrusel{cursor:pointer;}

#content {
    float:left;
    width:600px;
    margin-bottom:40px;
    margin:0px auto;
}

.actor {
    border:#CCCCCC 1px solid;
}

.imatgeInici{
    max-height: 120px; 
    margin: 0 auto;
}
/*
.slide-wrapper {
    position: relative
}


 MISC 
#homepage-feature .item {
    overflow: hidden;
    height: 400px;
    background-color: transparent;
    background-size: cover;
}
#homepage-feature > .carousel-control {
    width: 30px;
    font-size: 40px;
    color: #fff;
    text-shadow: none;
    filter: none;
    opacity: 1;
}
#homepage-feature > .carousel-control span {
    position: absolute;
    top: 50%;
    margin-top: -30px;
    width: 100%;
    text-align: center;
    display: block;
}

#layer    {
    position: fixed;
    top: 0px;
    background-color:rgba(0,0,0,0);
    width: 100%;
    z-index:5;
}*/
a{
    color: #4c4c4c !important;
}
